# Copy this to 'test.user.properties' and fill in the local values.

# CEP and test project content location
cep.dir = ${path.test.root}/../../CEP_main
test.content.location = ${path.test.root}/../../BF-Tester/src

# BCP connection settings.
bcp.server = 192.168.130.135
bcp.user = user
bcp.password = user123
bcp.organization = o=test2,cn=cordys,o=localdomain

# Cobertura properties
use.cobertura = true

# VMWare properties
use.vmware = true
path.cordys.vmware.image = C:\\Virtual Machines\\RHEL3 - Cordys\\Red Hat Enterprise Linux 3.vmx
path.vmware.vmware-cmd = D:\\software\\VMware\\VMware Server\\vmware-cmd.bat
