@ECHO OFF 
setlocal 
REM TRUE for batchtesting of JUnits. 
set SKIP_DUMMY_DIR=TRUE
REM Point to a Java 6 JDK
set JAVA_HOME=C:\Progra~1\Java\jdk1.6.0_11
set PATH=%PATH%;%JAVA_HOME%\bin
REM The location of the buildframework
set BUILDFRAMEWORK=D:\teststreet\trunk\buildframework_runtime_bop4

set CORDYS_INSTALL_DIR=%BUILDFRAMEWORK%\cordys
set PATH=%CORDYS_INSTALL_DIR%\lib;%PATH% 
set ANT_HOME=%BUILDFRAMEWORK%\ext\ant
set ANT_CP=%ANT_HOME%\lib\ant-launcher.jar;%ANT_CP%
set ANT_LIBS=%ANT_HOME%\lib
set CLASSPATH=%ANT_HOME%\lib;%CLASSPATH% 
set CLASSPATH=%CLASSPATH%;%CORDYS_INSTALL_DIR%\cordyscp.jar 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\cws.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.gmf.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.worflow.model.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.acl.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.bam.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.bcm.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.bpm.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.bpmset.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.bpmimport.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.kpi.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.mdm.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.organization.rolebase.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.security.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cws\lib\cordys.vcm.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cmc\cordys.cmc.util.jar;%CLASSPATH% 
set CLASSPATH=%CORDYS_INSTALL_DIR%\components\cmc\cordys.cmc.audit.jar;%CLASSPATH% 
set CLASSPATH=%BUILDFRAMEWORK%\lib\mysql-connector-java-5.0.8-bin.jar;%CLASSPATH% 

java -Dant.home=%ANT_HOME% -Djava.home=%JAVA_HOME% -cp "%ANT_CP%;%ANT_HOME%;%CLASSPATH%;%ANT_LIBS%" org.apache.tools.ant.launch.Launcher -lib %ANT_LIBS% %* 
